html,body{
    overflow-x: hidden;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    position: static;
}
#nav{
    border: 2px solid;
    height: 80px;
    width: 1915.2px;
    background-color: black;
}
#page1{
    border: 2px solid;
    height: 78px;
    width: 1170px;
    margin-left: 180px;
    background-color: black;
    display: flex;
}
#logo{
    border: 2px solid;
    height: 60px;
    width: 132px;
    margin-top: 15px;
    fill: white;
}
#bar{
    border: 2px solid;
    height: 77px;
    width: 502.08px;
    /* background-color: aqua; */
    margin-left: 550px;
}
#bar ul{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-family: Helvetica;
    list-style: none;
    margin-top: 28px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    /* line-height: 1.5; */
    /* padding: 28px 17px; */
    letter-spacing: -0.04em;
    line-height: 1.15;
}
#bar ul li:hover{
    color: #1ed760;
}
#nav1{
    /* border: 2px solid; */
    height: 600px;
    width: 1520.2px;
    background: url(https://www.scdn.co/i/free/bubbles-mobile.svg) center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-position: center center;
    display: flex;
    justify-content: center;
}
#page2{
    /* border: 2px solid; */
    height: 600px;
    width: 1170px;
    /* background-color: black; */
    display: flex;
}
#phone{
    /* border: 2px solid; */
    height: 600px;
    width: 468px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#box{
    /* border: 2px solid; */
    height: 573px;
    width: 286px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}
 #text{
    /* border: 2px solid; */
    height: 600px;
    width: 702px;
    /* background-color: blue; */
 }
 #display{
    /* border: 2px solid; */
    height: 450px;
    width: 270px;
    margin-top: 50px;
    /* background-color: black; */
    background-image: url(./dispaly.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    display: flex;
}
#textstyle{
    letter-spacing: -0.04em;
    line-height: 1.15;
    font-size: 64px;
    letter-spacing: -2.56px;
    max-width: 653px;
    color: white;
    margin-top: 165px;
}
#spotifyfree{
    /* border: 2px solid; */
    height: 48px;
    width: 687px;
}
#anchor{
    /* border: 1px solid; */
    height: 48px;
    width: 206.5px;
    border-radius: 9999px;
    background-color: white ;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: Helvetica;
    margin-top: 48px;
    font-weight: 200;
}
#anchor p{
    margin-top: 15px;
    font-family: Helvetica;
    font-weight: 200;
}
#nav2{
    /* border: 2px solid; */
    height: 595.3px;
    width: 1519.2px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
#page3{
    /* border: 2px solid; */
    height: 595.3px;
    width: 1170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#font{
    /* border: 2px solid; */
    height: 46px;
    width: 670px;
    margin-top: 10px;
    margin-left: 280px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.015em;
    padding: 0px;
    font-weight: 900;
}
#ulist{
    /* border: 2px solid; */
    height: 327.3px;
    width: 1140px;
    margin-top: 70px;
    margin-left: 15px;
    display: flex;
}
#img1{
    /* border: 1px solid; */
    height: 307.3px;
    width: 285px;
}
#img2{
    /* border: 1px solid; */
    height: 307.3px;
    width: 285px;
}
#img3{
    /* border: 1px solid; */
    height: 307.3px;
    width: 285px;
}
#img4{
    /* border: 1px solid; */
    height: 307.3px;
    width: 285px;
}
#up1{
    /* border: 1px solid; */
    height: 142px;
    width: 142px;
    background-image: url(./page3\ img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
}
#low1{
    /* border: 1px solid; */
    height: 109.3px;
    width: 285px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#low1 h1{
    margin-left: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    padding: 0px;
    line-height: 1.3em;
}
#low1 p1{
    line-height: 1.5;
    font-size: 16px;
    padding: 0px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
#up2{
    /* border: 1px solid; */
    height: 142px;
    width: 142px;
    background-image: url(./page3\ img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
}
#low2{
    /* border: 1px solid; */
    height: 109.3px;
    width: 285px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#low2 h2{
    margin-left: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    padding: 0px;
    line-height: 1.3em;
}
#low2 p{
    line-height: 1.5;
    font-size: 16px;
    padding: 0px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
#up3{
    /* border: 1px solid; */
    height: 142px;
    width: 142px;
    background-image: url(./page3\ img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
}
#low3{
    /* border: 1px solid; */
    height: 109.3px;
    width: 285px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#low3 h3{
    margin-left: 75px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    padding: 0px;
    line-height: 1.3em;
}
#low3 p{
    line-height: 1.5;
    font-size: 16px;
    padding: 0px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}
#up4{
    /* border: 1px solid; */
    height: 142px;
    width: 142px;
    background-image: url(./page3\ img4.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
}
#low4{
    /* border: 1px solid; */
    height: 109.3px;
    width: 285px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#low4 h4{
    margin-left: 55px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    padding: 0px;
    line-height: 1.3em;
}
#low4 p{
    line-height: 1.5;
    font-size: 16px;
    padding: 0px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}
#nav3{
    /* border: 2px solid; */
    height: 494px;
    width: 1519.2px;
    background: left -10px bottom -160px / 100% 1114px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166)) rgb(108, 14, 224);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 48px;
    padding-top: 190px;
    font-size: 40px;
    color: white;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
    padding: 70px 15px 0px;
}
#nav4{
    /* border: 2px solid; */
    height: 588.3px;
    width: 1519.2px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
#page4{
    /* border: 2px solid; */
    height: 588.3px;
    width: 1170px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#question{
    /* border: 2px solid; */
    height: 46px;
    width: 1140px;
    text-align: center;
    margin-top: -1%;
}
#question h1{
    /* height: 46px; */
    /* width: 670px; */
    /* margin-top: 10px; */
    /* margin-left: 280px; */
    display: flex;
    justify-content: center;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.015em;
    padding: 0px;
    font-weight: 700;
}
#options{
    /* border: 2px solid; */
    height: 320.3px;
    width: 1140px;
    margin-top: 20px;
}
#opt1{
    /* border: 1px solid; */
    height: 78.78px;
    width: 1140px;
    display: flex;
}
#opt2{
    /* border: 1px solid; */
    height: 78.78px;
    width: 1140px;
    display: flex;
}
#opt3{
    /* border: 1px solid; */
    height: 78.78px;
    width: 1140px;
    display: flex;
}
#opt4{
    /* border: 1px solid; */
    height: 78.78px;
    width: 1140px;
    display: flex;
}
#opt1 h1{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 26px 28px;
    margin-top: 2px;
    position: relative;
    list-style: none;
    text-align: -webkit-match-parent;
}
#opt2 h2{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 26px 28px;
    margin-top: 2px;
    position: relative;
    list-style: none;
    text-align: -webkit-match-parent;
}
#opt3 h3{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 26px 28px;
    margin-top: 2px;
    position: relative;
    list-style: none;
    text-align: -webkit-match-parent;
}
#opt4 h4{
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 26px 28px;
    margin-top: 2px;
    position: relative;
    list-style: none;
    text-align: -webkit-match-parent;
}
#arrow1{
    /* border: 1px solid; */
    height: 50px;
    width: 50px;
    /* background-color: black; */
    margin-top: 20px;
    margin-left: -50px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
#arrow2{
    /* border: 1px solid; */
    height: 50px;
    width: 50px;
    /* background-color: black; */
    margin-top: 20px;
    margin-left: -50px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
#arrow3{
    /* border: 1px solid; */
    height: 50px;
    width: 50px;
    /* background-color: black; */
    margin-top: 20px;
    margin-left: -50px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
#arrow4{
    /* border: 1px solid; */
    height: 50px;
    width: 50px;
    /* background-color: black; */
    margin-top: 20px;
    margin-left: -50px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
#nav5{
    /* border: 2px solid; */
    height: 450px;
    width: 1519.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(https://www.scdn.co/i/free/lets-play.svg) center center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224);
}
#page5{
    /* border: 2px solid; */
    height: 128px;
    width: 1519.2px;
    /* background-color: black; */
}
#page5 h1{
    font-size: 80px;
    /* padding-top: 190px; */
    color: white;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.2;
    padding: 0px 100px 32px;
    text-align: center;
    /* margin-top: -70px; */
}
#but{
    /* border: 2px solid; */
    height: 48px;
    width: 1519.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#anchor1{
    /* border: 1px solid; */
    height: 48px;
    width: 206.5px;
    border-radius: 9999px;
    background-color: white ;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: Helvetica;
    /* margin-top: 48px; */
    font-weight: 200;

}
#anchor1 p{
    margin-top: 15px;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,sans-serif;
    font-weight: 200;
}
#footer{
    /* border: 2px solid; */
    height: 624.4px;
    width: 1519.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 16px;
}
#page6{
    /* border: 2px solid; */
    height: 494.4px;
    width: 1170px;
}
#f1{
    /* border: 1px solid; */
    height: 380.8px;
    width: 1170px;
    display: flex;
}
#foo11{
    /* border: 1px solid; */
    height: 380.8px;
    width: 195px;
    fill: #ffff;
    font-size: 16px;
}
#lastlogo{
    /* border: 2px solid; */
    height: 36.1px;
    width: 132px;
    margin-left: 10px;
}
#foo12{
    /* border: 1px solid; */
    height: 380.8px;
    width: 585px;
    display: flex;
}
#line1{
    /* border: 1px solid; */
    height: 380.8px;
    width: 146.25px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    
}
#line11{
    /* border: 2px solid; */
    height: 16.8px;
    width: 116.2px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
}
#line11 h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 13px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
}
#line12{
    /* border: 2px solid; */
    height: 126px;
    width: 116.2px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#about{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#about h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#about h1:hover{
    color: #1ed760;
}
#jobs{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#jobs h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#jobs h1:hover{
    color: #1ed760;
}
#for{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#for h1{
    font-size: 15px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#for h1:hover{
    color: #1ed760;
}
#line2{
    /* border: 1px solid; */
    height: 380.8px;
    width: 146.25px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;  
}
#artist{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#artist h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#artist h1:hover{
    color: #1ed760;
}
#dev{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#dev h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#dev h1:hover{
    color: #1ed760;
}
#add{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#add h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#add h1:hover{
    color: #1ed760;
}
#int{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#int h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#int h1:hover{
    color: #1ed760;
}
#ven{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#ven h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#ven h1:hover{
    color: #1ed760;
}
#line21{
    /* border: 2px solid; */
    height: 16.8px;
    width: 116.2px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
}
#line22{
    /* border: 2px solid; */
    height: 210px;
    width: 116.2px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#line21 h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 13px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
}
#line3{
    /* border: 1px solid; */
    height: 380.8px;
    width: 146.25px;
    /* display: flex; */
    /* justify-content: center; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
#line31{
    /* border: 2px solid; */
    height: 16.8px;
    width: 116.2px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
}
#line32{
    /* border: 2px solid; */
    height: 126px;
    width: 116.2px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#sup{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
    margin-top: 12px;
}
#sup h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#sup h1:hover{
    color: #1ed760;
}
#free{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}
#free h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#free h1:hover{
    color: #1ed760;
}
#line31 h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 13px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#web{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#web h1{
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#web h1:hover{
    color: #1ed760;
}
#line4{
    /* border: 1px solid; */
    height: 380.8px;
    width: 146.25px;
    display: flex;
    /* justify-content: center;
    display: flex; */
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
#line41{
    /* border: 2px solid; */
    height: 16.8px;
    width: 116.2px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
}

#line42{
    /* border: 2px solid; */
    height: 324px;
    width: 116.2px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#ind{
    /* border: 1px solid; */
    height: 66px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#ind h1{
    font-size: 15px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#ind h1:hover{
    color: #1ed760;
}
#duo{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#duo h1{
    font-size: 15px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#duo h1:hover{
    color: #1ed760;
}
#fam{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#fam h1{
    font-size: 15px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#fam h1:hover{
    color: #1ed760;
}
#stu{
    /* border: 1px solid; */
    height: 66px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#stu h1{
    font-size: 15px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#stu h1:hover{
    color: #1ed760;
}
#spo{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#spo h1{
    font-size: 15px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#spo h1:hover{
    color: #1ed760;
}
#aud{
    /* border: 1px solid; */
    height: 42px;
    width: 116.2px;
    display: flex;
    align-items: center;
}
#aud h1{
    font-size: 15px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
}
#aud h1:hover{
    color: #1ed760;
}
#line41 h1{
    color: #919496;
    /* font-size: 12px; */
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 12px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
}
#foo13{
    /* border: 1px solid; */
    height: 380.8px;
    width: 390px;
}
#lastbox{
    /* border: 2px solid; */
    height: 54px;
    width: 192px;
    margin-left: 180px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#ins{
    /* border: 2px solid; */
    height: 54px;
    width: 54px;
    background-color: #222326;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* margin-top: 10px; */
}
#insimg{
    /* border: 2px solid;
    height: 60px;
    width: 132px; */
    /* margin-top: 15px; */
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#insimg:hover{
    color: #1ed760;
}
#x{
    /* border: 2px solid; */
    height: 54px;
    width: 54px;
}
#x{
    /* border: 2px solid; */
    height: 54px;
    width: 54px;
    background-color: #222326;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#ximg{
    /* border: 2px solid;
    height: 60px;
    width: 132px; */
    /* margin-top: 15px; */
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ximg:hover{
    color: #1ed760;
}
#fb{
    /* border: 2px solid; */
    height: 54px;
    width: 54px;
    cursor: pointer;
}
#fb{
    /* border: 2px solid; */
    height: 54px;
    width: 54px;
    background-color: #222326;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
#fbimg{
    /* border: 2px solid;
    height: 60px;
    width: 132px; */
    /* margin-top: 15px; */
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fbimg:hover{
    color: #1ed760;
}
#f2{
    /* border: 1px solid; */
    height: 40.8px;
    width: 1170px;
    /* background-color:orange; */
    display: flex;
    justify-content: end;
    margin-left: -30px;
    
}
#india{
    /* border: 2px solid; */
    height: 40.8px;
    width: 43.7px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
}
#coun h1{
    font-size: 12px;
    padding: 1em 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    white-space: nowrap;
    font-size: 10px;
    text-decoration: none;
    color: #919496;
    margin-left: 5px;
    cursor: pointer;
}
#coun h1:hover{
    color: #1ed760;
}
#f3{
    /* border: 1px solid; */
    height: 40.8px;
    width: 1170px;
    /* background-color: white; */
    display: flex;
}
#endlist{
    /* border: 2px solid; */
    height: 40.8px;
    width: 741.91px;
    display: flex;
    justify-content: space-between;
}
#legal{
    /* border: 2px solid; */
    height: 40.8px;
    width: 29.23px;
    align-items: center;
    display: flex;
}
#legal h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    /* text-transform: uppercase; */
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 10px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
#legal h1:hover{
    color: #1ed760;
}
#safe{
    /* border: 2px solid; */
    height: 40.8px;
    width: 128.07px;
    align-items: center;
    display: flex;
}
#safe h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    /* text-transform: uppercase; */
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 10px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
#safe h1:hover{
    color: #1ed760;
}
#privacy{
    /* border: 2px solid; */
    height: 40.8px;
    width: 74.79px;
    align-items: center;
    display: flex;
}
#privacy h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    /* text-transform: uppercase; */
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 9px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
#privacy h1:hover{
    color: #1ed760;
}
#coo{
    /* border: 2px solid; */
    height: 40.8px;
    width: 44.18px;
    align-items: center;
    display: flex;
}
#coo h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    /* text-transform: uppercase; */
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 10px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
#coo h1:hover{
    color: #1ed760;
}
#AA{
    /* border: 2px solid; */
    height: 40.8px;
    width: 57.09px;
    align-items: center;
    display: flex;
}
#AA h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    /* text-transform: uppercase; */
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 10px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
#AA h1:hover{
    color: #1ed760;
}
#Acc{
    /* border: 2px solid; */
    height: 40.8px;
    width: 68.33px;
    align-items: center;
    display: flex;
}
#Acc h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    /* text-transform: uppercase; */
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 10px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
#Acc h1:hover{
    color: #1ed760;
}
#not{
    /* border: 2px solid; */
    height: 40.8px;
    width: 108.24px;
    align-items: center;
    display: flex;
}
#not h1{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    /* text-transform: uppercase; */
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    list-style-type: disc;
    font-size: 10px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
#not h1:hover{
    color: #1ed760;
}
#gp{
        /* border: 2px solid; */
        height: 40.8px;
        width: 25px;
        display: flex;
        align-items: center;
}
#endlist1{
    /* border: 2px solid; */
    height: 40.8px;
    width: 102.38px;
    margin-left: 309px;
}
#endlist1 h1{
    font-size: 12px;
    padding: 1em 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    white-space: nowrap;
    font-size: 10px;
    text-decoration: none;
    color: #919496;
    margin-left: 5px;
}
#f4{
    /* border: 1px solid; */
    height: 32px;
    width: 1170px;
    /* background-color: #1ed760; */
}

